<div class="section-menu-chatbot" id="section-menu">
    <div class="chat-container">
        <!-- Chat Header -->
        <div class="chat-header">
            <h3>Tanya Nexus</h3>
        </div>

        <!-- Chat Box -->
        <div class="chat-box">
            <!-- Chat Messages -->
            <div class="chat-message bot-message">
                <p>
                    Saya Seorang introvert dan ingin mencoba bergabung ke UKM...
                </p>
            </div>
            <div class="chat-message user-message">
                <p>Rekomendasi UKM untuk anda sebagai seorang Introvert :</p>
            </div>
        </div>

        <!-- Chat Input -->
        <div class="chat-input">
            <input type="text" placeholder="Tanya Nexus..." />
            <button>➤</button>
        </div>
    </div>
</div>
